HolidayReservationSystemSeClient/xml-resources/web-service-references/HolidayWebService/wsdl/localhost_8080/HolidayWebService/HolidayWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="HolidayWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/HolidayWebService/HolidayWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="retrieveReservationByIdForGuest">
<part name="parameters" element="tns:retrieveReservationByIdForGuest"/>
</message>
<message name="retrieveReservationByIdForGuestResponse">
<part name="parameters" element="tns:retrieveReservationByIdForGuestResponse"/>
</message>
<message name="ReservationErrorException">
<part name="fault" element="tns:ReservationErrorException"/>
</message>
<message name="getAvailableRoomCountByTypeAndDate">
<part name="parameters" element="tns:getAvailableRoomCountByTypeAndDate"/>
</message>
<message name="getAvailableRoomCountByTypeAndDateResponse">
<part name="parameters" element="tns:getAvailableRoomCountByTypeAndDateResponse"/>
</message>
<message name="RoomTypeErrorException">
<part name="fault" element="tns:RoomTypeErrorException"/>
</message>
<message name="retrieveAllAvailRoomTypeOnline">
<part name="parameters" element="tns:retrieveAllAvailRoomTypeOnline"/>
</message>
<message name="retrieveAllAvailRoomTypeOnlineResponse">
<part name="parameters" element="tns:retrieveAllAvailRoomTypeOnlineResponse"/>
</message>
<message name="DateValidationError">
<part name="fault" element="tns:DateValidationError"/>
</message>
<message name="retrieveAllPartnerReservation">
<part name="parameters" element="tns:retrieveAllPartnerReservation"/>
</message>
<message name="retrieveAllPartnerReservationResponse">
<part name="parameters" element="tns:retrieveAllPartnerReservationResponse"/>
</message>
<message name="InvalidLoginCredentialException">
<part name="fault" element="tns:InvalidLoginCredentialException"/>
</message>
<message name="getPriceOfRoomTypeOnline">
<part name="parameters" element="tns:getPriceOfRoomTypeOnline"/>
</message>
<message name="getPriceOfRoomTypeOnlineResponse">
<part name="parameters" element="tns:getPriceOfRoomTypeOnlineResponse"/>
</message>
<message name="partnerLogin">
<part name="parameters" element="tns:partnerLogin"/>
</message>
<message name="partnerLoginResponse">
<part name="parameters" element="tns:partnerLoginResponse"/>
</message>
<portType name="HolidayWebService">
<operation name="retrieveReservationByIdForGuest">
<input wsam:Action="http://ws.session.ejb/HolidayWebService/retrieveReservationByIdForGuestRequest" message="tns:retrieveReservationByIdForGuest"/>
<output wsam:Action="http://ws.session.ejb/HolidayWebService/retrieveReservationByIdForGuestResponse" message="tns:retrieveReservationByIdForGuestResponse"/>
<fault message="tns:ReservationErrorException" name="ReservationErrorException" wsam:Action="http://ws.session.ejb/HolidayWebService/retrieveReservationByIdForGuest/Fault/ReservationErrorException"/>
</operation>
<operation name="getAvailableRoomCountByTypeAndDate">
<input wsam:Action="http://ws.session.ejb/HolidayWebService/getAvailableRoomCountByTypeAndDateRequest" message="tns:getAvailableRoomCountByTypeAndDate"/>
<output wsam:Action="http://ws.session.ejb/HolidayWebService/getAvailableRoomCountByTypeAndDateResponse" message="tns:getAvailableRoomCountByTypeAndDateResponse"/>
<fault message="tns:RoomTypeErrorException" name="RoomTypeErrorException" wsam:Action="http://ws.session.ejb/HolidayWebService/getAvailableRoomCountByTypeAndDate/Fault/RoomTypeErrorException"/>
</operation>
<operation name="retrieveAllAvailRoomTypeOnline">
<input wsam:Action="http://ws.session.ejb/HolidayWebService/retrieveAllAvailRoomTypeOnlineRequest" message="tns:retrieveAllAvailRoomTypeOnline"/>
<output wsam:Action="http://ws.session.ejb/HolidayWebService/retrieveAllAvailRoomTypeOnlineResponse" message="tns:retrieveAllAvailRoomTypeOnlineResponse"/>
<fault message="tns:RoomTypeErrorException" name="RoomTypeErrorException" wsam:Action="http://ws.session.ejb/HolidayWebService/retrieveAllAvailRoomTypeOnline/Fault/RoomTypeErrorException"/>
<fault message="tns:DateValidationError" name="DateValidationError" wsam:Action="http://ws.session.ejb/HolidayWebService/retrieveAllAvailRoomTypeOnline/Fault/DateValidationError"/>
</operation>
<operation name="retrieveAllPartnerReservation">
<input wsam:Action="http://ws.session.ejb/HolidayWebService/retrieveAllPartnerReservationRequest" message="tns:retrieveAllPartnerReservation"/>
<output wsam:Action="http://ws.session.ejb/HolidayWebService/retrieveAllPartnerReservationResponse" message="tns:retrieveAllPartnerReservationResponse"/>
<fault message="tns:InvalidLoginCredentialException" name="InvalidLoginCredentialException" wsam:Action="http://ws.session.ejb/HolidayWebService/retrieveAllPartnerReservation/Fault/InvalidLoginCredentialException"/>
</operation>
<operation name="getPriceOfRoomTypeOnline">
<input wsam:Action="http://ws.session.ejb/HolidayWebService/getPriceOfRoomTypeOnlineRequest" message="tns:getPriceOfRoomTypeOnline"/>
<output wsam:Action="http://ws.session.ejb/HolidayWebService/getPriceOfRoomTypeOnlineResponse" message="tns:getPriceOfRoomTypeOnlineResponse"/>
<fault message="tns:RoomTypeErrorException" name="RoomTypeErrorException" wsam:Action="http://ws.session.ejb/HolidayWebService/getPriceOfRoomTypeOnline/Fault/RoomTypeErrorException"/>
</operation>
<operation name="partnerLogin">
<input wsam:Action="http://ws.session.ejb/HolidayWebService/partnerLoginRequest" message="tns:partnerLogin"/>
<output wsam:Action="http://ws.session.ejb/HolidayWebService/partnerLoginResponse" message="tns:partnerLoginResponse"/>
<fault message="tns:InvalidLoginCredentialException" name="InvalidLoginCredentialException" wsam:Action="http://ws.session.ejb/HolidayWebService/partnerLogin/Fault/InvalidLoginCredentialException"/>
</operation>
</portType>
<binding name="HolidayWebServicePortBinding" type="tns:HolidayWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="retrieveReservationByIdForGuest">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ReservationErrorException">
<soap:fault name="ReservationErrorException" use="literal"/>
</fault>
</operation>
<operation name="getAvailableRoomCountByTypeAndDate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RoomTypeErrorException">
<soap:fault name="RoomTypeErrorException" use="literal"/>
</fault>
</operation>
<operation name="retrieveAllAvailRoomTypeOnline">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RoomTypeErrorException">
<soap:fault name="RoomTypeErrorException" use="literal"/>
</fault>
<fault name="DateValidationError">
<soap:fault name="DateValidationError" use="literal"/>
</fault>
</operation>
<operation name="retrieveAllPartnerReservation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginCredentialException">
<soap:fault name="InvalidLoginCredentialException" use="literal"/>
</fault>
</operation>
<operation name="getPriceOfRoomTypeOnline">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RoomTypeErrorException">
<soap:fault name="RoomTypeErrorException" use="literal"/>
</fault>
</operation>
<operation name="partnerLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginCredentialException">
<soap:fault name="InvalidLoginCredentialException" use="literal"/>
</fault>
</operation>
</binding>
<service name="HolidayWebService">
<port name="HolidayWebServicePort" binding="tns:HolidayWebServicePortBinding">
<soap:address location="http://localhost:8080/HolidayWebService/HolidayWebService"/>
</port>
</service>
</definitions>